---
import "../styles/style.css";
import Nav from "../components/Nav.astro";
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
import Footer from "../components/Footer.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Sections from "../components/Sections.astro";
---
<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Misbrugsportalen Pårørende Netværket</title>
     <link rel="stylesheet" href="style.css" />
      
</head>
<body>

 <Nav/>
    <Header title="Bliv frivillig hos Misbrugsportalen">

    </Header>

    <Section backgroundColor="#1F4242">
      <Sections><Sections/>
       
    </Section>

    <Section backgroundColor="#E56F3F" >
   <Card>
   
   </Card>
    </Section>

    <Section backgroundColor="#344358">

    </Section>

    <Footer>

    </Footer>


</body>
</html>