---
import "../styles/style.css";
import Nav from "../components/Nav.astro";
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
import Footer from "../components/Footer.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Sections from "../components/Sections.astro";
import Cards from "../components/Cards.astro";
---
<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Misbrugsportalen Pårørende Netværket</title>
     <link rel="stylesheet" href="style.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>

 <Nav/>
    <Header title="Bliv frivillig hos Misbrugsportalen">

    </Header>

    <Section backgroundColor="#1F4242">
      <Sections><Sections/>
       
    </Section>

    <Section backgroundColor="#E56F3F" >
   <Card>
   
   </Card>
    </Section>

    <Section backgroundColor="#344358">
    
      <Cards title="Gør en forskel og styrk dit CV"  >

      <Cards/>   
       <Cards title="Gør en forskel og styrk dit CV"  >

      <Cards/>   
       <Cards title="Gør en forskel og styrk dit CV"  >

      <Cards/>   
    </Section>

    <Footer>

    </Footer>


</body>
</html>