---
const { text } = Astro.props;
---

<button>{text}</button>

<style>

button {
    display: flex;
    border: none;
    outline: 0;
    margin: 0 auto;
    padding: 0.5rem 3rem;
    text-align: center;
    cursor: pointer;
    border-radius: 25px;
    background-color: #61C6BB;
    color: #ffffff;
    font-family: "poppins", serif;
    font-size: 1rem;
    width: 300px;
    height:50px;
    justify-content: center;
    align-items: center;
    transition: 0.15s ease-in;
}

button:hover {
background-color: #ffffff ;
color: #61C6BB;
outline: 2px solid #61C6BB;
transform: scale(1.05);
}

</style>