---
const { text } = Astro.props;
---

<button>{text}</button>

<style>
button {
      border: none;
    outline: 0;
    display: inline-block;
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
 border-radius: 18px;
    background-color: #61C6BB;
    color: #ffffff;
    font-family: "poppins", serif;
    font-size: 0.7rem;
    max-width: 130px;
    max-height: 38px;
}

button:hover {

background-color: #ffffff ;
    color: #61C6BB;


}


</style>