---
const { title, tekst, billede, alt, reverse = false } = Astro.props;
---

<div>
  <article class={reverse ? "reverse card" : "card"}>
    <img src={`/src/imgs/${billede}`} alt={alt} />
    <div class="copy">
      <h3>{title}</h3>
      <p>{tekst}</p>
      <slot />
    </div>
  </article>
</div>
<style>
  .copy {
    padding-top: 60px;
  }
  .card {
    display: flex;
    flex-direction: row;
    gap: 95px;
    padding-bottom: 50px;
    padding-top: 70px;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  p {
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 20px;
    max-width: 600px;
    color: #fcf7f0;
    line-height: 35px;
  }

  h3 {
    font-size: 45px;
    color: #e56f3f;
  }

  .tekst {
    padding-top: 70px;
  }

  img {
    width: 50%;
  }
</style>
