---
import Button from "../components/Button.astro";
---

<article>

 <div class="card">
 
 <div class="text_content">  

<h1>Hvad skal du som frivillig?</h1>
  <p>Vores frivillige tilbyder samtalestøtte til individer og familier berørt af misbrug som rådgivere på vores akuttelefon. 
    Det kan være i individuelle telefoniske samtaleforløb og som terapeutiske gruppeledere i online gruppeforløb. <br><br>
    Som frivillig i foreningen gennemgår du en grunding oplæring og en mentor, vil klæde dig på til at støtte pårørende gennem samtalestøtten. 
    Arbejdet udføres hjemmefra og vi forventer, at du kan tage mindst to vagter om måneden.</p>

    <Button text="Tilmeld infomøde"></Button>

 </div> 

  <div class="img_content">
       <img src="imgs/frivillig_img.webp" alt="">
  </div>

</div>

</article>

<style>
    
article {
display: flex;
justify-content: center;
align-items: center;
padding: 45px;
max-width: 700px;
margin: 0 auto;
}

.card {
 background-color: #F7E7D2;
 border-radius: 5px;
 padding: 35px 35px;
 }

 h1{
 font-size: 2rem;
 padding: 40px 0px;
 text-align: center;
 }

 p{
 font-size: 1rem;
 padding-bottom: 40px; 
 }

 .img_content{
 padding-top: 35px;
 }

 @media screen and (min-width: 1100px) {

    article{
  max-width: 1500px;
  padding: 10rem 100px; 
  height: 1000px;
}

    .card {
  display:flex;
  gap:75px;
  padding: 60px 60px;
  justify-content: center;
  align-items: center;
}

.img_content{
    min-width: 375px;
}

.text_content {
    max-width: 600px;
    order: 1;
}

  h1{
        font-size: 2.25rem;
    }

    p{
        font-size: 20px; 
    }


@keyframes appear {
    from {
        opacity: 0;
        clip-path: inset(0 100% 0 0);
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
  }

img, h1, p {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

</style>