---
const { title } = Astro.props;
---

 <div class="card">
     <h1>{ title } </h1>
           <p>Du får et meningsfuldt og givende frivillig job, hvor du på nært hold følger den forandring, du bidrager til for den enkelte familie samtidig med, at du får mulighed for at udvikle dine empatiske og faglige færdigheder og et plus på CV'et.</p>





     
       <img src="src/imgs/cv_billede.webp" alt="">


<style>
   
.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
margin-bottom: 50px;


 

 }

p {
margin-bottom: 10px;
 font-size: 20px;
 max-width:600px ;
}

h1 {

    font-size: 45px;
}

.tekst {


    padding-top: 70px;
}

img {
width: 95%;
grid-column: 1;
grid-row: 1/4;}


</style>