---

---
<footer>
<div>
            <div class="logo">
                <a href="#">
                    <img src="src/imgs/logo.webp" alt="logo">
                </a>
                <p>Åbningstider
                    <br>
                    Mandag - Tirsdag
                    <br>
                    15:00 - 18:00
                    <br>
                    Onsdag - Fredag
                    <br>
                    18:00 - 21:00
                    <br>
                    Weekender og Helligdage
                    <br>
                    Lukket
                </p>

                <div class="sociale_medier">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                </div>
            </div>
        </div>
        <div>
            <p>Bagsværd Hovedgade 126, 2880 Bagsværd
                <br>
                <br>
                Akutrådgivning: 7090 9080
                <br>
                Sekretariat: 7060 4446
                <br>
                <br>
            </p>
            <a href="#">Mail: mail@misbrugsportalen.dk</a>
            <div class="kontakt_ikoner">
                <a href="#"><i class="fa-solid fa-phone"></i></a>
                <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>
        </div>
        </footer>

       <style>

.logo img {
  width: 300px;
}

.sociale_medier a,
.kontakt_ikoner a {
  display: inline-block;
  background-color: #61c6bb;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  border-radius: 12px;
}

.kontakt_ikoner a {
  font-size: 3rem;
}

.kontakt_ikoner,
.sociale_medier {
  display: flex;
  justify-content: start;
  max-width: 300px;
  gap: 20px;
}

       </style>