---

---
<footer>
<div>
            <div class="logo">
                <a href="#">
                    <img src="imgs/logo.webp" alt="logo">
                </a>
                <p class="aabningstider">Åbningstider
                    <br>
                    Mandag - Tirsdag
                    <br>
                    15:00 - 18:00
                    <br>
                    Onsdag - Fredag
                    <br>
                    18:00 - 21:00
                    <br>
                    Weekender og Helligdage
                    <br>
                    Lukket
                </p>

                <div class="sociale_medier">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                </div>
            </div>
        </div>
        <div>
            <h2>KONTAKTINFORMATIONER</h2>
            <p>Bagsværd Hovedgade 126, 2880 Bagsværd
                <br>
                <br>
                Akutrådgivning: 7090 9080
                <br>
                Sekretariat: 7060 4446
                <br>
                <br>
            </p>
            <p>Mail:<a href="#"> mail@misbrugsportalen.dk
                <br>
                <br>
            </a></p>
            <div class="kontakt_ikoner">
                <a href="#"><i class="fa-solid fa-phone"></i></a>
                <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>
        </div>
        </footer>

       <style>

.logo img {
  width: 300px;
}

.sociale_medier a,
.kontakt_ikoner a {
  display: inline-block;
  background-color: #61c6bb;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  border-radius: 12px;
}

.kontakt_ikoner a {
  font-size: 3rem;
}

.kontakt_ikoner,
.sociale_medier {
  display: flex;
  justify-content: center;
  /* max-width: 300px; */
  gap: 20px;
}

a {
    font-family: poppins;
}

.sociale_medier a:hover,
.kontakt_ikoner a:hover {
    scale: 1.2;
    color: #61c6bb;
    background-color: white;
    border-style: solid;
    border-color: #61c6bb;
    transition: ease-in-out;
    
}

h2 {
    font-size: 1.8rem;
    font-weight: 200;
    letter-spacing: 0px;
    margin-top: 15px;
}

.aabningstider {
    padding-block: 15px;
}

.sociale_medier a {
    width: 80px;
    
}

.sociale_medier {
    gap: 10px;
}

.kontakt_ikoner a {
    width: 100px;
    
}

.kontakt_ikoner {
    gap: 20px;
}

@media screen and (max-width: 800px) {
    h2 {
        margin-top: 50px;
    }
}
       </style>