---
const { title } = Astro.props;
---

<header class="hero-container">
      <img src="src/imgs/hero.webp" alt="">
       <div class="herotext">
   <h1>Lyt, støt og hjælp <br> pårørende i krise</h1>
  <h2>{title}</h2>
       </div>
  <slot />
</header>


<style>
      .herocontainer {
  position: relative;
  text-align: center;
  color: black;
}

.herotext {
  position: absolute;
  text-align: left;
  top: 10rem;
  left: 5%;
}

    @media screen and (max-width: 700px) {
  h1 {
    margin-top: 1rem;
    font-size: 30px;
  }

  h2 {
    font-size: 15px;
  }
  .herotext {
    top: 5rem
  }
}

@media screen and (min-width: 700px) and (max-width: 1100px) {
  h1 {
    margin-top: 1rem;
    font-size: 60px;
  }

  h2 {
    font-size: 30px;
  }
}

</style>