
<nav>
        <div class="logo">
            <a href="index.astro">
                <img src="imgs/logo.webp" alt="Logo">
            </a>
        </div>

            <ul class="menu">
                <li><a href="">Om Pårørende Netværket</a></li>
                <li><a href="">Frivillig hos os</a></li>
                <li><a href="">Fordele</a></li>
                <li><a href="">Kontakt os</a></li>
            </ul>
            <div>
                <div class="burger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </nav>
  
<style>
/************ Menu ***********/
 nav {
    padding: 0.5rem 1rem;
    background-color: #f6e8d2;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

.logo {
  width: 15%;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #f6e8d2;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  margin-left: auto;
  
}

.menu li {
  margin-right: 15px;
  background-color: #f6e8d2;
  border-width: 5cm;
  float: left;
}
.menu li:hover {
  color: black;
  background-color: #f6e8d2;
  transition: all 0.3s ease;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 30px;
  color: black;
  text-decoration: none;
  transition: color 0.3s, text-decoration-thickness 0.3s ease;
  text-decoration-thickness: 0;
}

.menu a:hover {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

/*********************************** Burgermenu ******************************/

@media screen and (max-width: 1050px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    margin-right: 0.5rem;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #f6e8d2;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    margin-top: 6%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    height: 1000px;
  }
  nav.active .menu li {
    margin: 10px 20px;
  }
  li {
    clear: left;
    width: 95%;
  }
  nav.active .menu a {
    font-size: 16px;
    text-align: center;
  }
  }


</style>

 <script>
            const burger = document.querySelector(".burger");
const nav = document.querySelector("nav");
const menu = document.querySelector(".menu");

burger.addEventListener("click", burgerClick);
function burgerClick() {
  burger.classList.toggle("active");
  nav.classList.toggle("active");
}
menu.addEventListener("click", menuClick);
function menuClick() {
  burger.classList.remove("active");
  nav.classList.remove("active");
}
        </script>